body {
    margin-left: 52px;
    background-color: #1F2937;
}


#rule {
    border: 1px solid #2F3E53;
    margin-top: 35px;
    margin-bottom: 35px;
}

h1 {
  color: white;
  margin-bottom: 0px; 
  margin-top: 100px;
  font-family: 'Karla', sans-serif;
}

#main-title {
    color: #4ADF87;
    margin-top: 0px;
}

h3 {
    color: #D5D4D8;
    margin-bottom: 0px;

}

button {
    background-color: #10B981;
    color: white;
    border-radius: 6px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border: none;
    padding: 9px 17px;
    width: 191px;
    font-size: 21px;
    margin-top: 51px;
    font-family: 'Karla', sans-serif;
}

#password-container {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
    color: #55F991;
   
    
}

#passwordone-el, #passwordtwo-el {
    background-color: #273549;
    width: 211px;
    height: 39px;
     border-radius: 6px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}

#main-container {
    width: 446px;
    display: flex;
    flex-direction: column 
}